
/** home styling */
.home {
    height: 100vh;
    outline: 1px solid red;
    animation-play-state: paused; 
}
.curvy-bar {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    z-index: 0;
    background: url('../images/curvybar.svg');
    background-size: cover;
}
.bodyTxt {
    width:70%;
    left: 20%;
    top: 10%;
}
.bodyTxt h1 {
    color: #A661FF;
}
.bodyTxt p {
    width: 50vmin;
}
.myprofile {
    width: 15em;
    /**height: 50vh;*/
    object-fit: contain;
    left: 80vh;
    position: fixed;
    bottom: 0px;
}

/** portfolio */
.portfolio {
    height: fit-content;
    background: linear-gradient(90deg, #DFF6F7 30%, white 10%);
    animation-play-state: paused;
}

/** hire me page styling */
.hireMe {
    height: 100vh;
    text-align: center;
}
.hireMe .hiremebody {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2%;
}
.hireMe .hiremebody #links {
    width: 40%;
    left: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hireMe .hiremebody #links button {
    margin: 5%;
    width: 13em;
    height: 3em;
    line-height: 3em;
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.336);
}
.hireMe a {
   text-decoration: none; 
   font-size: 3em;
}
#fiv{
    background-color: #01B223;
    
}
#fiv a {
    color: rgb(255, 255, 255);
}
#upw {
    font-size: 1em;
    background-color: white;
}
#upw a {
    color: #01B223;
}