
.pbutton {
    width: 8em;
    height: 2em;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #CE2D4F;
    transition: background-color 0.05s;
}
.pbutton:active {
    background-color: #f73761;
}
.vert-stack {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    position: absolute;
    height: 50vh;
    width: 1.5em;
    top: 25%;
}
#vert-left {
    left: 15%;
}
#vert-right {
    left: 85%;
}
.vert-stack * {
    width: 1.5em;
    height: 1.5em;
    color: #CE2D4F;
    background-color: transparent;
}
.vert-stack *:hover {
    color: #ff3a65;
}
.vert-stack *:active {
    color: #202020;
}

/** active page link */
#active {
    font-size: 1.5em;
}
/** project layout stling */
.project {
    width: 90%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.project img {
    width: 35%;
    object-fit: contain;
}
.project .descr {
    display: grid;
}
.project .descr div {
    width: 45%;
    height: 2em;
    display: flex;
    justify-content: space-between;
}

/** hire me form styling */
form {
    width: 40em;
    height: 20em;
    text-align: center;
    margin-top: 5vmax;
    display: grid;
    grid-auto-flow: row;
    background-color: rgb(255, 255, 255);
    left: 30%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.116);
}

form input{
    border-radius: 5px;
    width: 30em;
    height: 2em;
    left: 4em;
    text-align: center;
    outline: 3px #2020209f solid;
    transition: outline 0.5s;
}
form textarea {
    width: 30em;
    left: 10%;
    height: 8em;
    border-radius: 5px;
    outline: 3px #2020209f solid;
    transition: outline 0.5s;
}
form input:focus, textarea:focus {
    outline: 3px solid #CE2D4F;
}
form button {
    margin-left: auto;
    margin-right: auto;
}
.spinner {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    position: fixed;
    top: 40%;
    margin-left: 30vmin;
    border:6px solid #f737610e;
    border-top: 6px solid #f73761;
    background-color: transparent;
    animation-name: spin;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction:reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from{transform: rotateZ(360deg); border-top: 6px solid #f737615d;}
    to{border-top: 6px solid #A661FF;}
}


