
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
* {
  padding: 0;
  border: none;
  margin: 0;
  outline: transparent !important;
  color: white;
  position: relative;
  font-family: Segoe UI;
  font-weight: lighter;
  font-size: 1.5vmax;
  transition: all 0.5s linear;
}
html, body {
    height: 100vh !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed !important;
    background-color: black;
    background: url('./images/bg1.webp');
}
