
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
* {
  padding: 0;
  border: none;
  margin: 0;
  outline: transparent;
  color: white;
  position: relative;
  font-family: Segoe UI;
  font-weight: lighter;
  font-size: 1.2rem;
  transition: all 0.5s linear;
}
html, body {
    height: 100vh !important;
    background: url('./images/bg1.webp');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-attachment: fixed !important;
    background-color: black;
}

@media only screen and (max-width: 600px){
    html, body {
        background-size: 200vw 100vh !important;
        background-position-x: -100vw !important;
    }
}
